# ==============================================================================
# Variables de Entorno - Gestor AVA Módulo de Analítica Académica (DEDTE - UAGRM)
# ==============================================================================

# Puerto expuesto por Nginx
PORT=80

# Credenciales de Réplica de Base de Datos Moodle (Lectura Read-Only CQRS)
MOODLE_DB_HOST=127.0.0.1
MOODLE_DB_PORT=3307
MOODLE_DB_NAME=moodle
MOODLE_DB_USER=moodle
MOODLE_DB_PASS=moodlepass2024

# Configuración de Google Cloud (GCP)
GCP_PROJECT_ID=tu-proyecto-gcp
GAR_LOCATION=southamerica-west1
GAR_REPOSITORY=uagrm-dedte-repo
GCE_INSTANCE_NAME=dedte-analitica-prod
VM_SSH_HOST=35.x.x.x
VM_SSH_USER=deployer
